.toast {
    position: fixed;
    top: 50px;
    right: 0px;
    margin: auto;

    max-width: 400px;
    min-width: 200px;
    padding: 6px 20px;
    background-color: #cccccc;
    color: #333333;

    font-family: sans-serif;
    text-align: center;

    border: 1px solid #aaaaaa;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s, right 0.2s, visibility 0.2s;
}

.toast--visible {
    right: 20px;
    opacity: 1;
    visibility: visible;
}

.toast--success {
    background: rgba(0, 192, 43, 0.5);
    background-color: rgba(0, 192, 43, 0.8);
    color: #ffffff;
}

.toast--error {
    background: rgba(213, 0, 0, 0.6);
    background-color: rgba(213, 0, 0, 0.6);
    color: #ffffff;
}